<div>
  <div class="form-group form-inline">
    Recherche: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="uniteService.searchTerm"/>
    <span class="ml-3" *ngIf="uniteService.loading$ | async">Loading...</span>
    <button class="btn btn-outline-primary m-3" (click)="newUnite()" placement="top" ngbTooltip="Ajouter une recette">
      <i class="far fa-plus-square"></i></button>
  </div>
  <h1>Liste des unites</h1>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <th scope="col">#</th>
    <th scope="col" sortable="nom" (sort)="onSort($event)">Nom</th>
    </thead>
    <tbody>
    <tr *ngFor="let unite of unites$ | async">
      <td scope="row">{{unite.id}}</td>
      <td>
        <ngb-highlight [result]="unite.value" [term]="uniteService.searchTerm"></ngb-highlight>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="total$ | async" [(page)]="uniteService.page"
                    [pageSize]="uniteService.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="uniteService.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

  <router-outlet></router-outlet>

</div>

