<div>
  <div class="form-group form-inline">
    Recherche: <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="recettesService.searchTerm"/>
    <span class="ml-3" *ngIf="recettesService.loading$ | async">Loading...</span>
    <button class="btn btn-outline-primary m-3" (click)="newRecette()" placement="top" ngbTooltip="Ajouter une recette">
      <i class="far fa-plus-square"></i></button>
  </div>
  <h1> <span>Liste des recettes</span></h1>
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <th scope="col">#</th>
    <th scope="col" sortable="nom" (sort)="onSort($event)">Nom</th>
    <th scope="col" sortable="shortContent" (sort)="onSort($event)">Description</th>
    </thead>
    <tbody>
    <tr *ngFor="let recette of recettes$ | async" (click)="recetteDetail(recette.id)">
      <td scope="row">{{recette.id}}</td>
      <td>
        <ngb-highlight [result]="recette.nom" [term]="recettesService.searchTerm"></ngb-highlight>
      </td>
      <td>
        <ngb-highlight [result]="recette.shortContent" [term]="recettesService.searchTerm"></ngb-highlight>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="total$ | async" [(page)]="recettesService.page"
                    [pageSize]="recettesService.pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="recettesService.pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>

  <router-outlet></router-outlet>

</div>
