<div *ngIf="load">
  <table>
    <thead>
      <th scope="col">#</th>
      <th scope="col" sortable="nom" (sort)="onSort($event)">Nom</th>
    </thead>
    <tbody>
      <tr *ngFor="let recette of recettes">
        <td>{{recette.id}}</td>
        <td>{{recette.nom}}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
    </ngb-pagination>

    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
</div>
