<div>
  <ng-container *ngIf="load; else elseTemplateLoad">
    <h1> <span>{{recette.nom}}</span>  <button class="btn btn-outline-primary" (click)="edit=!edit"><i class="far fa-edit"></i></button>
    </h1>

    <ng-container *ngIf="edit; else elseTemplateEdit">
      <div>
        {{recette.shortContent}}
      </div>
      <div *ngIf="recette.theme">
        {{recette.theme.nom}}
      </div>
      <div *ngIf="!recette.theme">
        <select [(ngModel)]="themeSelect" (change)="addTheme()">
          <option *ngFor="let theme of themes$ | async" [ngValue]="theme">{{theme.nom}}</option>
        </select>
      </div>
      <div>
      <img src="{{urlImageRecette}}/{{recette.image}}" alt="image" class="m-3">
      </div>

    </ng-container>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
        <div class="card-body">
          <div class="card-title"> <h2> Préparation </h2></div>
          <div class="card-text">
            <div class="card">
              <div class="card-body" >
                <div class="card-header text-center"> Temp total : {{recette.tempCuisson+recette.tempPreparation}} <button (click)="editTempPrepCuisson()" class="btn btn-sm btn-success"><i class="far fa-edit"></i></button></div>
                <div class="row">
                  <ng-container *ngIf="editTemp; else elseTemplateTemp">
                      <div class="form-inline">
                        <label for="cuisson">Temps de cuisson</label>
                        <input type="text" name="cuisson" id="cuisson" [(ngModel)]="tempCuisson">
                      </div>
                      <div class="form-inline">
                        <label for="preparation">Temps de prépatation</label>
                        <input type="text" name="preparation" id="preparation" [(ngModel)]="tempPreparation">
                      </div>
                      <button class="btn btn-success" (click)="updateTemp()"><i class="fas fa-check"></i></button>
                  </ng-container>
                  <ng-template #elseTemplateTemp>
                    <div class="col justify-content-between text-center">Cuisson : {{recette.tempCuisson}}</div>
                    <div class="col justify-content-between  text-center">Préparation :{{recette.tempPreparation}}</div>
                  </ng-template>
                </div>
              </div>
            </div>
        <div class="mt-1 mb-1">
        <h3>Etapes :</h3>
        <ul class="list-group">
        <li *ngFor="let etape of recette.etapes" class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill m-3">{{etape.rang}}</span>  {{etape.content}}</li>
        </ul>
        <button class="btn btn-success m-3" (click)="addEtape=!addEtape"><i class="fas fa-plus"></i></button>
        <ng-container *ngIf="addEtape">
          <div class="form-inline">
            <label for="ajoutEtape">Ajouter une étape : </label>
            <input id="ajoutEtape" class="form-control" name="ajoutEtape" [(ngModel)]="content"/>
            <button class="btn btn-success" (click)="newEtape()"><i class="fas fa-check"></i></button>
          </div>
        </ng-container>
      </div>
      </div>
    </div>
    </div>
    </div>
      <div class="col-sm">
        <div class="card">
        <div class="card-body">
        <div class="card-title"><h2> Ingrédients  </h2> </div>
        <div class="card-text">
        <div class="form-inline card-header justify-content-between">
          <label for="quantity">Nombre</label>
          <div>
            <button (click)="downPersonne()" class="btn btn-outline-primary"><i class="fas fa-minus"></i></button>
            <input class="quantity" min="{{recette.personneMin}}" name="quantity" type="number" [(ngModel)]="personnes" value="{{personnes}}" class="form-control">
            <button (click)="upPersonne()" class="btn btn-outline-primary"><i class="fas fa-plus"></i></button>
          </div>
        </div>

        <ul class="list-group mt-3 mb-3">
          <li *ngFor="let ingredient of recette.ingredients" class="list-group-item d-flex justify-content-between align-items-center">
            <app-ingredient [ingredient]="ingredient" [personnes]="personnes" [personneMin]="recette.personneMin"></app-ingredient> <button class="btn btn-sm btn-danger" (click)="deleteIngredient(ingredient)"><i class="far fa-times-circle"></i></button>
          </li>
        </ul>
        <button class="btn btn-success" (click)="plus=!plus"><i class="fas fa-plus"></i></button>
        <ng-container *ngIf="plus">
          <div class="form-group form-inline">
            <label for="my-select m-3">Ajout d'ingrédient</label>
            <select id="my-select" class="form-control m-3" #t name="type" [(ngModel)]="typeIngredient">
              <option *ngFor="let type of typeIngredient$ |async"  [ngValue]="type">{{type.nom}}</option>
            </select>
            <div *ngIf="typeIngredient" class="m-3">
            <label for="quantite">
              Quantité
            </label>
            <input type="number" name="quantite" id="quantite" class="form-control m-3" [(ngModel)]="quantite">
            {{typeIngredient.unite.value}}
            </div>
            <button class="btn btn-success" (click)="addIngredient()"><i class="fas fa-check"></i></button>
          </div>
        </ng-container>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  </ng-container>


  <ng-template #elseTemplateLoad>
    ...loading
  </ng-template>

  <ng-template #elseTemplateEdit>
    <form>
    <div>
    <label for="short">résumé : </label><input type="text" name="short" id="short" value="{{recette.shortContent}}" [(ngModel)]="recette.shortContent">
    </div>

     <button class="btn btn-success" (click)="valideRecette()"><i class="fas fa-check"></i></button>
  </form>
  </ng-template>
</div>
