<form [formGroup]="formIngredient" class="form-group form-inline">
  <label for="nom">
    Nom ingrédient :
    <input type="text" id="nom" formControlName="nom" class="form-control ml-2">
  </label>
  <label for="unite">
    <select [(ngModel)]="uniteSelect">
      <option *ngFor="let unite of unites | async" [value]="unite">{{unite.value}}</option>
    </select>
  </label>
  <button type="submit" class="btn btn-outline-primary m-3" placement="top" ngbTooltip="Sauvegarder" (click)="submit()">
    <i class="far fa-save"></i></button>
  <button class="btn btn-outline-danger" placement="top" ngbTooltip="Fermé"><i class="far fa-window-close"></i></button>
</form>
