<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <a class="navbar-brand" href="#"><i class="fas fa-home"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['recettes']" routerLinkActive="router-link-active">Recette</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" [routerLink]="['ingredients']" routerLinkActive="router-link-active">Ingredients</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" [routerLink]="['unites']" routerLinkActive="router-link-active">Unités</a>
      </li>
      <li><a class="nav-link" [routerLink]="['theme']" routerLinkActive="router-linl-active">Theme</a></li>
    </ul>
    <button class="btn btn-sm btn-outline-primary m-3" (click)="createPDF()"><i class="far fa-file-pdf"></i></button>
    <div ngbDropdown class="d-inline-block">
    <button class="btn btn-sm btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><span class="badge badge-light m-1">{{nb | async}}</span><i class="fas fa-shopping-cart"></i></button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <ng-container *ngIf="notEmpty | async; else elseTemplate">
        <div *ngFor="let recette of panier | async"><img src="{{url+recette.imageId}}" alt="">{{recette.nom}}</div>
        </ng-container>
        <ng-template #elseTemplate>
          <div>vide</div>
        </ng-template>
        </div>
    </div>
  </div>
</nav>
